.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    position: fixed;
    max-width: 1056px;
    width: 100%;
    z-index: 999;
    left: 50%;
    transform: translate(-50%);
    padding: 0 2rem;
}

.link {
    color: var(--link-color);
    text-decoration: none;
    font-family: "Univers", 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',sans-serif;
    line-height: 1.5rem;
}